/* Globals */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.8;
    color: #dcdcdc;
    margin:0;
    padding:0;
    background:#1f1f1f;  
    position: relative;  
}

h1,h2,h3,h4{
	font-weight: 500;
	text-transform: none;
	color: #1f1f1f;
    font-family: 'Source Code Pro', monospace;
}
a,p,li{
    color: #1f1f1f;
    text-decoration: none;
}
a:hover{
    color: #0cbacf;
    text-decoration: none;
}

h1{
	font-size: 4.2rem;
}

h2{
	font-size: 2.2rem;
}

h3{
	font-size: 1.8rem;
}

h4{
	font-size: 1.2rem;
}

.coding{
    font-family: 'Source Code Pro', monospace;
}
.nunito{
    font-family: 'Nunito Sans', sans-serif;
}

/* Cores */

.ide_green{
    color:#4ec9b0;
}

.ide_blue{
    color:#347dc5;
}

/* Sidebar Menu */
#sidebar-menu{
    position:fixed;
    z-index:99;
    left:0;
    top:0;
    bottom:0;
    width:35%;
    height:100%;
    height:100vh;
    padding: 50px 30px 50px;
    background-color: #fafafa;
}

#nav-menu{
    list-style: none;
    padding: 0;
    position: absolute;
    bottom: 35%;
    bottom: 35vh;
}

.logo{
    padding: 0;
    position: absolute;
    bottom: 8%;
    bottom: 8vh;
}

.logo h4{
    color:#777;
}
#nav-menu a{
    display:table;
	line-height: 1.2;
    font-weight: 500;
    font-size: 2.4rem;
    padding:0;
	text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-image: linear-gradient(#0cbacf, #0cbacf);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    -webkit-transition: background-size .5s;
    transition: background-size .5s;
}

#nav-menu a:hover, #nav-menu a:focus{
    background-size: 100% 3px;
    color: #1f1f1f;
}

#nav-menu .active{
    background-size: 100% 3px;
}

.social-links{
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

.social-links li{
	line-height: 1.2;
    font-size: 1.3rem;
    display: inline-block;
    margin-right: 12px;
}

.twitter-link:hover svg{
    color:#38A1F3;
}

.fb-link:hover svg{
    color:#4267b2;
}

.linkedin-link:hover svg{
    color:#0077B5;
}

.gitlab-link:hover svg{
    color:#e24329;
}

.github-link:hover svg{
    color:#333;
}

#nav-toggle, #nav-toggle ~ .nav-label, #nav-toggle ~ .overlay {
    display:none;
}

#nav-toggle ~ .overlay {
    height:0;
    z-index:98;
}

/* Conteudo */
#content{
    width:65%;
    margin-left:35%;
    clear:none;
    float:none;
    -webkit-transition: .5s;
    transition: .5s;
}

/* Intro */
section#intro{
    min-height: 100%;
    min-height: 100vh;
    padding: 30px;
    color:#dcdcdc; 
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
    font-size: 1.5rem;
    background-image: linear-gradient(120deg, #1f1f1f, #202020);
}

section#intro p{
    margin-bottom:0;
    color:#dcdcdc;
}

section#intro .ide-1{
    margin-left: 30px;
}

section#intro .ide-2{
    margin-left: 60px;
}

section#intro .ide-3{
    margin-left: 90px;
}

section#intro a{
    color:#dcdcdc;
    background-image: linear-gradient(120deg, #0cbacf 0%, #0cbacf 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 100%;
    -webkit-transition: background-size .25s ease-in;
    transition: background-size .25s ease-in;
}

section#intro a:hover {
    background-size: 100% 100%;
}

/* Portfolio */
section#portfolio{
    background-image: linear-gradient(120deg, #1f1f1f, #202020);
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding:50px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

section#portfolio figure{
    margin-top:15px;
    margin-bottom:15px;
}

section#portfolio figcaption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: 0 15px 0 15px;
    background: rgba(53, 53, 53, 0.95);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

section#portfolio figcaption img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    max-width:200px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

section#portfolio a{
    cursor: pointer;
}

/* Cores portfolio */
section#portfolio figure#arqhunter:hover figcaption {
    background: rgba(52,140,204,0.3);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
section#portfolio.arqhunter{
    background: #348ccc;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

section#portfolio figure#artinvogue:hover figcaption {
    background: rgba(124,179,191,0.3);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
section#portfolio.artinvogue{
    background: #7cb3bf;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

section#portfolio figure#aua:hover figcaption {
    background: rgba(216,10,92,0.3);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
section#portfolio.aua{
    background: #d80a5c;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

section#portfolio figure#ekoeasy:hover figcaption {
    background: rgba(17, 141, 67,0.3);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
section#portfolio.ekoeasy{
    background: #118d43;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

section#portfolio figure#dare:hover figcaption {
    background: rgba(239, 65, 81,0.3);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
section#portfolio.dare{
    background: #ef4151;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

section#portfolio figure#eduardobraganca:hover figcaption {
    background: rgba(190, 102, 1,0.3);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
section#portfolio.eduardobraganca{
    background: #ca5f35;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

section#portfolio figure#garbo:hover figcaption {
    background: rgba(199, 139, 26,0.3);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
section#portfolio.garbo{
    background: #c78b1a;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

section#portfolio figure#idee:hover figcaption {
    background: rgba(126, 128, 130,0.3);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
section#portfolio.idee{
    background: #7e8082;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

section#portfolio figure#zilda:hover figcaption {
    background: rgba(236, 181, 16,0.3);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
section#portfolio.zilda{
    background: #ecb510;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

/* Skills */
section#skills{
    min-height: 60%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    padding: 30px;
    background:#f5f5f5;
}

section#skills .progress{
    background-color: none;
    height:2px;
}

section#skills .progress-bar{
    background-color: #0cbacf;
}

section#skills article{
    height: 60px;
}

/* Contact */
section#contact{
    min-height: 70%;
    min-height: 70vh;
    display: flex;
    padding: 30px;
    align-items: center;
    background:#f5f5f5;
    color: #1f1f1f;
}

section#contact input, section#contact textarea{
    margin-bottom: 30px;
}
section#contact p{
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
section#contact .formfocus{
    width: 100%;
    font-size: 1rem;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #1f1f1f;
    background-image: linear-gradient(#0cbacf, #0cbacf);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    -webkit-transition: background-size .25s;
    transition: background-size .25s;
}

section#contact textarea{
    resize: none;
}

section#contact .formfocus:focus{
    background-size: 100% 2px;
    color: #1f1f1f;
    border-bottom: 1px solid transparent;
}

section#contact input[type="submit"]{
    width:100%;
    margin-bottom:0;
    background: transparent;
    border: 1px solid #1f1f1f;
    font-weight:400;
    background: transparent;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}

section#contact input[type="submit"]:hover{
    border: 1px solid #0cbacf;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}


/* Footer */
footer{
    padding:10px 30px;
    text-align:center;
}
footer p{
    color: #dcdcdc;
    margin-bottom:0;
    font-size: 0.9rem;
}
footer a{
    color:#348ccc;
}

/* Mobile */

@media (min-width: 1200px){
    .container {
        max-width: 900px;
    }
}
@media screen and (max-width: 992px) {
    #sidebar-menu{
        width:80%;
        -webkit-transition: .5s;
        transition: .5s;
    }

    #nav-toggle ~ .nav-label{
        display:block;
        position:fixed;
        font-size:26px;
        color:#0cbacf;
        padding: 5px;
        left:calc(0% + 30px);
        top:30px;
        z-index:99;
        -webkit-transition: .5s;
        transition: .5s;
    }
    
    #nav-toggle:checked ~ .nav-label{
        left:calc(80% + 20px);
        -webkit-transition: .5s;
        transition: .5s;
    }

    #nav-toggle ~ #sidebar-menu {
        left:-80%;
        -webkit-transition: .5s;
        transition: .5s;
    }
    
    #nav-toggle:checked ~ #sidebar-menu {
        left:0;
        -webkit-transition: .5s;
        transition: .5s;
    }

    #nav-toggle ~ .overlay {
        position: fixed;
        width:100vw;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 0s, opacity 0.5s linear;
        transition: visibility 0s, opacity 0.5s linear;
        background-color: #1f1f1f;
    }

    #nav-toggle ~ .overlay{
        display:block;
    }
    #nav-toggle:checked ~ .overlay {
        height:100%;
        visibility: visible;
        opacity: 0.9;
    }

    #content{
        width:100%;
        margin-left:0;
        -webkit-transition: .5s;
        transition: .5s;
    }

    section#intro{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 768px) {
    section#intro{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 480px) {
    #sidebar-menu h2{
        font-size: 1.8rem;
    }
    #sidebar-menu h4{
        font-size: 1rem;
    }

    section#intro{
        font-size: 0.8rem;
    }

    section#skills{
        min-height: 100%;
        min-height: 100vh;
    }
}

